[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/conditional-tokens-contracts"]
	path = lib/conditional-tokens-contracts
	url = https://github.com/gnosis/conditional-tokens-contracts
[submodule "lib/conditional-tokens-market-makers"]
	path = lib/conditional-tokens-market-makers
	url = https://github.com/gnosis/conditional-tokens-market-makers
[submodule "lib/util-contracts"]
	path = lib/util-contracts
	url = https://github.com/gnosis/util-contracts
[submodule "lib/openzeppelin-old"]
	path = lib/openzeppelin-old
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
